# Ignore virtual environment
ENV/
.vscode
.pytest_cache
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Ignore VSCode settings
.vscode/

# Ignore Python cache
__pycache__/

# Ignore temporary or unwanted files
command.txt
test4.py